@font-face {
  font-family: "Light";
  src: url("fonts/helvetica/HelveticaNeueCyr-Light.otf");
}

@font-face {
  font-family: "Medium";
  src: url("fonts/helvetica/HelveticaNeueCyr-Roman.otf");
}

@font-face {
  font-family: "Bold";
  src: url("fonts/helvetica/HelveticaNeueCyr-Bold.otf");
}

@font-face {
  font-family: "Heavy";
  src: url("fonts/helvetica/HelveticaNeueCyr-Heavy.otf");
}

@font-face {
  font-family: "Gothic";
  src: url("fonts/letter/LetterGothicStd.otf");
}

@font-face {
  font-family: "Gothic Bold";
  src: url("fonts/letter gothic/LetterGothicStd-Bold.otf");
}


body {
  margin: 30px;
  max-width: 100%;
  overflow-x: hidden;
  font-weight: 100;
}


#filters {
  position: absolute;
  font-family: "Medium", sans-serif;

}

#page-title {
  float: right;
  font-family: light;
  font-weight: 1px;
}

.filterSelector {
  margin-top: 25px;
  width: 50px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  padding: 9px 9px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: 100;
  font-family: "Medium", sans-serif;
}

.filterSelector:hover {
  background-color: #ddd;
}

.filterSelector.active {
  background-color: rgb(257, 204, 166, 1.0);
  font-family: "Bold", sans-serif;
}

.container {
  width: 100%;

  /* border-bottom: 1px solid grey; */
}

.tab {
  float: left;

  background-color: white;
  color: black;
  font-weight: 100;
  line-height: 50px;

  width: 100%;
  text-align: left;
  display: none;
  /* box-shadow: 0 8px 6px 6px black; */
}

.tab:hover {
  background-color: #eeeeee;
}

.tab.active {
  background-color: #eeeeee;
}

.tab.active:hover {
  background-color: #eeeeee;
}

.hover-img {
  display: none;
  position: absolute;
  height: 600px;
  opacity: 90%;
  border: black 1px solid;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
}

.tab:hover .hover-img {
  display: unset;
}

.tab.active:hover .hover-img {
  display: none;
}

.tab-details {
  border-collapse: collapse;
  color: grey;
  text-decoration: none;
  font-family: "Light";
  width: 100%;



}

.tab-details tr td {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
    border-top: grey solid 1px;

  padding: 0px 10px;
  font-family: "light", sans-serif;
}

.title {
  width: 1000px;
  transition: width 0.3s ease-in-out;

}

.date {
  width: 50px;
  transition: width 0.3s ease-in-out;
}

.type {
  display: 10px;
  transition: width 0.3s ease-in-out;
}

.abstract {
  width: 1000px;
  transition: width 0.3s ease-in-out;
}

.tab-details tr:hover .title {
  color: black;
  transition: 0.1s;
  cursor: default;
  font-family: "light", sans-serif;
  font-weight: 300px;
  cursor: pointer;

}


.tab-details tr:hover {
  cursor: pointer;
}

.tab.active .title {
  color: black;
  transition: 0.1s;
  cursor: default;
  font-family: "light", sans-serif;
  font-weight: 900px;
    border-top: grey solid 1px;

}

.project-info {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  height: auto;
  background-color: white;

}

.tab.active .project-info {
  max-height: 1000px;

}

.project-info table {
  border-collapse: collapse;
  width: 100%;
}

.project-text td {
  border-left: 1px solid grey;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  padding: 5px 10px;
  line-height: 30px;
  font-family: "light", sans-serif;
  vertical-align: top;
  color: gray;
}

.project-gallery {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 30px 20px;
  border-top: grey solid 1px;
  border-left: 1px solid grey;
}

.project-gallery img {
  max-height: 600px;
    border: 1px solid lightgrey;
    margin-left: 15px;
}

.show {
  display: block;
}

@media screen and (max-width: 1550px) {

  .title {
    width: 700px;
  }

  .abstract {
    width: 700px;
  }
}

@media screen and (max-width: 1040px) {

  .title {
    width: 400px;
  }

  .abstract {
    width: 400px;
  }
}

@media screen and (max-width: 650px) {
  #page-title {
    position: unset;
  }

  .filterSelector {
    margin-top: 0;
  }

  .title {
    width: 250px;
  }

  .date {
    width: 50px;
  }

  .type {
    display: none;
  }

  .abstract {
    width: 100%;
  }

  .additional-description {
    display: none;
  }

  .tab:hover .hover-img {
    display: none;
  }
}

/* @media (any-pointer: coarse) {} */