@font-face {
  font-family: "Light";
  src: url("fonts/helvetica/HelveticaNeueCyr-Light.otf");
}

@font-face {
  font-family: "Medium";
  src: url("fonts/helvetica/HelveticaNeueCyr-Roman.otf");
}

@font-face {
  font-family: "Bold";
  src: url("fonts/helvetica/HelveticaNeueCyr-Bold.otf");
}

@font-face {
  font-family: "Heavy";
  src: url("fonts/helvetica/HelveticaNeueCyr-Heavy.otf");
}

@font-face {
  font-family: "Gothic";
  src: url("fonts/letter/LetterGothicStd.otf");
}

@font-face {
  font-family: "Gothic Bold";
  src: url("fonts/letter gothic/LetterGothicStd-Bold.otf");
}


body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  border-bottom: 1px solid grey;
}

.btn {
  margin-top: 25px;
  width: 50px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  padding: 9px 9px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: 100;
  font-family: "Medium", sans-serif;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: rgb(257, 204, 166, 1.0);
  font-family: "Bold", sans-serif;
}

.tab {
  float: left;
  background-color: white;
  color: black;
  font-weight: 100;
  line-height: 30px;
  width: 100%;
  text-align: left;
  display: none;
}

.tab:hover {
  background-color: #f1f1f1;
}

.tab:hover .tab-details tr td {
  color: black;
  transition: 0.1s;
  padding-left: 15px;
  cursor: default;
  font-family: "Bold", sans-serif;
}

.hover-img {
  display: none;
  position: fixed;
  height: 500px;
  left: 66%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tab:hover .hover-img {
  display: block;
}

.tab.active:hover .hover-img {
  display: none;
}

.tab-details {
  border-collapse: collapse;
  color: grey;
  text-decoration: none;
  font-family: "Light";
  font-weight: 100;
  width: 100%;
}

.tab-details tr td {
  width: 30%;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
  padding: 5px 10px;
  font-family: "Medium", sans-serif;
}

.project-info {
  max-height: 0;
  /* transition: max-height 0.1s ease-in-out; */
  overflow: hidden;
  height: auto;
}

.tab.active .project-info {
  max-height: 1000px;
}

.project-text {
  width: 30%;
  float: left;
}

.project-gallery {
  width: 70%;
  float: left;
  overflow-x: scroll;
  white-space: nowrap;
}

.project-gallery img {
  max-height: 300px;
}

.show {
  display: block;
}

@media screen and (max-width: 1040px) {}

@media screen and (max-width: 1550px) {}

@media screen and (max-width: 1040px) {}

@media screen and (max-width: 650px) {}

@media (any-pointer: coarse) {}